<h1>Barkantine Parents</h1>

<p>Welcome to the Barkantine Parents' Group the support group for parents and parents-to-be using the Barkantine Birth Centre</p>
    	
	<hr>

	<b>
	<% @news.each do |news| %>
	<%= news.title %>
	<% end -%> 
	</b>

	<hr>
	
	<b>
	<% @birth_stories.each do |birthstories| %>
	<%= birthstories.title %>
	<% end -%> 
	</b>
	
	<hr>
