
	<div style="background-color:silver;border:10px silver solid">
		<h1>Barkantine Parents</h1>

		<p>Welcome to the Barkantine Parents' Group the support group for parents and parents-to-be using the Barkantine Birth Centre</p>
	</div>	    


	<div style="background-color:white;height:500px;width:16%;float:left;border:10px silver solid">
		<h3> About us 
		</h3>
		<p> We are a friendly, volunteer run support group for parents and parents-to-be using or hoping to use the Barkantine Birth Centre to share information, tips and stories.  
		 <br> <br> <b> We meet on the last Saturday of each month 
		</b> at the Barkantine between 10am and 1pm.  
		</p>
	</div>	

	<div style="background-color:white;height:500px;width:25.5%;float:left;border:10px silver solid;">
		<h3>
	  		<b>
			<% @news.each do |news| %>
			<%= news.title %>
			<% end -%> 
			</b>	
		</h3>
	</div>	

	<div style="background-color:white;height:500px;width:25.5%;float:left;border:10px silver solid;">
		<h3>
			<b>
			<% @resources_and_links.each do |resourcesandlinks| %>
			<%= resourcesandlinks.title %>
			<% end -%> 
			</b>
		</h3>
	</div>	

	<div style="background-color:white;height:500px;width:25.5%;float:left;border:10px silver solid;">
    	<h3>
			<b>
			<% @birth_stories.each do |birthstories| %>
			<%= birthstories.title %>
			<% end -%> 
			</b>
		</h3>
	</div>	



