<h1>Barkantine Parents</h1>

<p>Welcome to the Barkantine Parents' Group the support group for parents and parents-to-be using the Barkantine Birth Centre</p>
    

<h3 style="border:1px grey solid;">
  	<b>
	<% @news.each do |news| %>
	<%= news.title %>
	<% end -%> 
	</b>	
</h3>

<h3 style="border:1px grey solid;">
	<b>
	<% @birth_stories.each do |birthstories| %>
	<%= birthstories.title %>
	<% end -%> 
	</b>
</h3>

<h3 style="border:1px grey solid;">
	<b>
	<% @resources_and_links.each do |resourcesandlinks| %>
	<%= resourcesandlinks.title %>
	<% end -%> 
	</b>
</h3>


