<h1>Barkantine Parents</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<p>Welcome to the Barkantine Parents' Group the supprt group for parents and parents-to-be using the Barkantine Birth Centre</p>
<% @news.each do |news| %>
	<%= news.title %>
<% end -%>

<% @birth_stories.each do |birthstories| %>
	<%= birthstories.title %>
<% end -%>
