
<head>
  <title>BarkantineParents</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>


<%= yield %>

<footer>
  <div class="container">
  	<div style="color:#0000FF">
    	This is my footer 2013
	</div>  
  </div>
</footer>


</body>
</html>
